* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.fa-bars{
  color: white;
  font-size: 28px;
  display: none;
}

.logo4{
  /* width: 350px; */
    color: white;
}

.menu-list li a{
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}
.menu-list li{
  color: #fff;
  text-decoration: none;
}
.menu-list li a:hover{
  color:#1ED760;
}
.menu-list{
  /* border: 2px solid blue; */
  display: flex;
  gap: 2em;
  list-style-type: none;
  background-color: #000000;
  text-decoration: none;
  /* font-size: 18px; */
}
.all{
  /* border: 2px solid yellow; */
  background-color: #000000;
  display: flex;
  margin-top: 15px;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}
.sign{
  display: flex;
  gap: 2em;
}
.sign a li{
  color: #dbd5d5;
}

.dropdown-menu{
  display: none;
  position: absolute;
  width: 300px;
  padding: 10px;
  text-align: center;
  z-index: 2;
  background-color: #1b1919;
}
.dropdown-menu li a{
  /* border: 2px solid red; */
  font-size: 16px;
  color: #fff;
}

.dropdown-menu li{
  /* border: 2px solid red; */
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

.dropdown-menu li:hover{
  background-color: black;
  color: #fff;
}
.dropdown-menu li a:hover{
  background-color: black;
  color: #fff;
}

.menu-list li:hover .dropdown-menu{
  display: block;
}

.sign{
  /* color: #282828; */
  display: flex;
  gap: 2em;
}
.sign li a{
  color: #aca6a6;
}
/* ///hero section/// */
.aboutus {
  margin-top: 10px;
}
.aboutus {
  /* border: 2px solid red; */
  padding: 20px;
  margin-top: 10px;
  align-items: center;
  /* text-align: center; */
}
h1 {
  font-weight: bold;
  font-size: 50px;
}
.aboutus p {
  /* border: 2px solid green; */
  margin-bottom: 10px;
}
.part1 {
  /* border: 2px solid black; */
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 200;
  width: 50%;
  padding: 30px;
  /* margin: 10px auto; */
}
.part1 h1 {
  margin-bottom: 12px;
}
.part2 ul {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 200;
  width: 50%;
  padding: 30px;
}
.text li a {
  color: #1bd85d;
}
.part3 ul {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 200;
  width: 50%;
  padding: 30px;
  /* border: 2px solid red; */
}

.us-list {
  color: #1bd85d;
}

.total {
  /* border: 2px solid black; */
  display: flex;
  padding: 40px;
  margin-top: 15px;
}

.world {
  /* border: 2px solid red; */
  padding: 38px;
}
.hq {
  /* border: 2px solid grey; */
  font-size: 18px;
  margin-bottom: 15px;
  align-items: center;
}
.hq h1 {
  margin-bottom: 15px;
  padding: 20px;
  font-weight: 700;
  font-size: 38px;
}
.spo-world {
  /* border: 2px solid green; */
  font-size: 30px;
  font-weight:800;
  margin-top: 25px;
  margin-bottom: 0;
}
.table-wrapper {
  /* border: 2px solid yellow; */
  padding: 10px 30px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}
.world-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.world-table td {
  vertical-align: top;
  padding: 30px;
}



footer {
    background-color: black;
    height: 30vh;
}

.foot {
    background-color: black;
    color: white;
    position: relative;
    bottom: 90px;
    text-align: center;
    justify-content: center;
    display: flex;
    height: 30vh;
    gap: 4em;
    padding-top: 80px;
}

.company h2 {
    color: #919496;
    font-size: 14px;
    padding-bottom: 20px;
}

.company li {
    font-size: 17px;
    padding-bottom: 20px;
}
.company li a{
  font-size: 17px;
    padding-bottom: 20px;
    color: #fff;
    text-decoration: none;
}

.company li a:hover{
     color: green;
    cursor: pointer;
}
.company li:hover {
    color: green;
    cursor: pointer;
}

.ade {
    gap: 4em;
}

.ade img {
    border: 2px solid #222326;
    background-color: #222326;
    padding: 10px;
    border-radius: 40px;
    position: relative;
    left: 10px;
    bottom: 20px;
    cursor: pointer;
}

.kk {
    width: 50px;
}

.dark {
    background-color: black;
    height: 30%;
    color: white;
    padding-top: 100px;
}

.dark h2,
.dark2 h2 {
    color: #919496;
    font-size: 12px;
    position: relative;
    text-align: right;
    right: 300px;
    padding-bottom: 20px;
}

.ter {
    background-color: black;
    color: #919496;
    text-align: center;
    justify-content: center;
}

.ter ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    position: relative;
    right: 200px;
    bottom: 50px;
    font-size: 14px;
}

.ter li:hover {
    color: green;
    cursor: pointer;
}



@media (max-width: 1024px) {
  .menu-list {
    gap: 1em;
  }

  .part1,
  .part2 ul,
  .part3 ul {
    width: 80%;
  }

  .total {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .world {
    width: 90%;
    padding: 20px;
  }

  .world-table td {
    padding: 20px;
  }

  h1 {
    font-size: 36px;
  }

  footer .foot {
    flex-wrap: wrap;
    gap: 2em;
    height: auto;
    padding-top: 40px;
  }

  .ter ul {
    flex-wrap: wrap;
    right: 0;
    bottom: 0;
  }
}


@media (max-width: 768px) {

  .all {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .menu-list {
    flex-direction: column;
    background-color: #000;
    width: 100%;
    text-align: center;
    gap: 1em;
    padding-bottom: 10px;
  }

  .menu-list li a {
    font-size: 16px;
  }

  
  .aboutus {
    text-align: left;
    padding: 10px;
  }

  .part1,
  .part2 ul,
  .part3 ul {
    width: 100%;
    padding: 15px;
  }

  .part1 h1,
  .part2 h1,
  .part3 h1 {
    font-size: 32px;
  }

  .us-text {
    font-size: 16px;
  }

  
  .world {
    width: 100%;
    padding: 15px;
  }

  .spo-world {
    font-size: 26px;
    text-align: center;
  }

  .world-table {
    font-size: 15px;
  }

  .world-table td {
    display: block;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #222;
  }

  
  .foot {
    flex-direction: column;
    align-items: center;
    gap: 2em;
    height: auto;
    bottom: 0;
    padding-top: 30px;
  }

  .ade img {
    width: 40px;
  }

  .dark {
    padding-top: 50px;
    text-align: center;
  }

  .dark h2,
  .dark2 h2 {
    text-align: center;
    right: 0;
    font-size: 13px;
  }

  .ter ul {
    flex-direction: column;
    gap: 1em;
    position: static;
    font-size: 13px;
  }
}


@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }

  .menu-list li a {
    font-size: 15px;
  }

  .us-text {
    font-size: 15px;
  }

  .spo-world {
    font-size: 22px;
  }

  .world-table td {
    font-size: 14px;
  }

  footer .company li {
    font-size: 15px;
  }

  .ade img {
    width: 35px;
    padding: 8px;
  }
}

@media(max-width:769px){
  .fa-bars{
    display: block;
    color:#fff ;
  }
  .menu-list{
    display: none;
  }
  .all{
    justify-content: space-between;
    padding: 20px;
  }
}
