* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #000;
  color: #fff;
}
.fa-bars{
  color: white;
  font-size: 28px;
  display: none;
}

.head{
  border: 2px solid red;
}
.logo4{
  /* width: 350px; */
    color: white;
}

.menu-list li a{
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.menu-list{
  /* border: 2px solid blue; */
  display: flex;
  gap: 2em;
  list-style-type: none;
  background-color: #000000;
  /* font-size: 18px; */
}
.all{
  /* border: 2px solid yellow; */
  display: flex;
  margin-top: 15px;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}
.menu-list li a:hover{
  color:#1ED760;
}
.dropdown-menu{
  display: none;
  padding: 15px;
  text-align: center;
  position: absolute;
  width: 300px;
  background-color:#282828;
  z-index: 2;
}
.dropdown-menu li a{
  color: #fff;
  font-size: 16px;
}
.dropdown-menu li{
  margin-bottom: 15px;
  position: relative;
  border-radius: 10px;
  padding: 10px;
}
.dropdown-menu li:hover{
  background-color: #000;
}
.dropdown-menu li a:hover{
  background-color: #000;
  color: #fff;
}

.menu-list li:hover .dropdown-menu{
  display: block;
}
.sign{
  /* color: #282828; */
  display: flex;
  gap: 2em;
}
.sign li a{
  color: #aca6a6;
}

.hero {
  background-color: #1B1919;
  /* padding: 20px 20px 20px 20px; */
  background-image: linear-gradient( to right#6F5D5F black);
}

.content-wrapper {
  /* border: 2px solid red; */
  max-width: 1300px;
  margin-top: 15px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}


.hero-left {
  flex: 1 1 500px;
  padding: 10px;
}

.hero-left h1 {
  font-size: 40px;
  font-weight: bold;
  /* margin-bottom: 15px; */
}

.hero-left p {
  font-size: 15px;
  margin-bottom: 10px;
}

.buttons {
  margin-bottom: 20px;
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 30px;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
  font-size: 1rem;
  /* transition: background 0.3s ease; */
}

.btn-primary {
  background-color: #ebb7bd;
  color: #000;
}
.btn-primary:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 1px 1px 1px #fff;
  color: #fff;
}
.btn-secondary:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.terms {
  /* border: 2px solid red; */
  /* font-size:10px; */
  color: #fff;
}

.terms a {
  color: #fff;
  text-decoration: underline;
}

.hero-right {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
}

@media (max-width: 768px) {
  .hero-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .hero-left,
  .hero-right {
    padding: 10px;
  }

  .hero-left h1 {
    font-size: 2rem;
  }
}



.sect-table {
  background-color: black;
  color: #fff;
  padding: 15px;
  /* border: 2px solid green; */
}
.sect-exp {
  /* border: 2px solid red; */
  /* width: 80%; */
  margin: auto;
  text-align: center;
}
.sect-exp h3 {
  margin-bottom: 15px;
  margin-top: 15px;
}
.table {
  width: 100%;
  /* border: 2px solid red; */
  border-collapse: collapse;
  text-align: left;
  font-size: 16px;
  margin: auto;
  max-width: 650px;
  height: 80vh;
}
.table thead th {
  padding: 16px;
  /* font-size: 1.1rem; */
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.table tbody td {
  padding: 16px;
  border-bottom: 1px solid #fff;
}
.table td {
  text-decoration: underline dotted;
}
.fa-solid {
  font-size: 28px;
}
.fa-minus {
  color: #949494;
}


.payment {
  /* border: 2px solid red; */
  background-color: #000;
  color: #fff;
  /* padding: 60px 20px 40px; */
  text-align: center;
  margin-top: 12em;
}
.payment1 {
  /* border: 2px solid green; */
  max-width: 800px;
  margin: auto;
}
.payment1 h1 {
  margin-bottom: 15px;
}
.payment1 p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.card {
  /* border: 2px solid greenyellow; */
  margin: auto;
}
.fa-brands {
  font-size: 40px;
}
.fa-cc-mastercard {
  background: linear-gradient(135deg, #eb001b 0%, #f79e1b 100%);
}
.fa-cc-visa {
  background: linear-gradient(135deg, #1a1f71 0%, #0066b2 100%);
}
.card2 {
  /* border:2px solid maroon; */
  text-align: left;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  /* max-width:900px; */
  margin: 40p auto;
  padding: 20px;
}
.card2 h3 {
  font-size: 2em;
  font-weight: bold;
}
.list {
  /* border: 2px solid green; */
  list-style: none;
  padding: 20px;
}
.list li {
  /* border: 2px solid yellow; */
  font-size: 15px;
  font-weight: 200;
}
.fa-check {
  font-size: 15px;
}

.plans-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}
.offer-badge {
  background-color: #fdd5e5;
  border-radius: 10px;
  position: absolute;
  color: #000;
  top: 8px;
  left: 20px;
  font-size: 15px;
  font-weight: 400;
}
.plan-header h2{
font-size: 25px;
color: #f1bac1;
}
.plan-price{
  font-size: 4em;
  /* border: 2px solid red; */
  font-weight:bold ;
}
.plan-card {
  background: #282828;
  border-radius: 12px;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  flex: 1 1 calc(33.333% - 14px);
  min-width: 300px;
}
.cta-button{
   /* width: 100%; */
  padding: 14px 24px;
  border: none;
  border-radius: 500px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 16px;
  background-color:#f1bac1 ;
}
.cta-button:hover{
  transform: scale(1.05);
  transition: all 0.2 ease-in-out;
}
.fine-print{
   font-size: 11px;
  color: #b3b3b3;
  /* line-height: 1.6; */
}
.fine-print a{
  color:#b3b3b3;
  text-decoration: underline;
}


.promo-badge1 {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #a087b4;
  color: #000;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 700;
}

.plan-name1{
  color: #a087b4;
  font-size: 30px;
  font-weight: bold;
}

.promo-badge.gold {
  background: #ffd700;
}

.spotify-logo {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #b3b3b3;
}

.spotify-icon {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #000;
}

.plan-name2 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 12px;
  color: #FFD700;
}

.plan-price {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #fff;
}

.plan-price-info {
  font-size: 13px;
  color: #b3b3b3;
  margin-bottom: 24px;
}

.plan-features {
  flex-grow: 1;
  margin-bottom: 24px;
}

.plan-features li {
  list-style: none;
  margin-bottom: 12px;
  font-size: 14px;
  color: #fff;
  padding-left: 0;
}

.plan-features li:before {
  content: "• ";
  color: #fff;
  margin-right: 8px;
}

.plan-button {
  width: 100%;
  padding: 14px 24px;
  border: none;
  border-radius: 500px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 16px;
  background-color: #a087b4;
}


.plan-button:hover {
  transform: scale(1.05);
  transition: all 0.2 ease-in-out;
}


.plan-button.gold {
  background: #ffd700;
  color: #000;
}


.plan-terms {
  font-size: 11px;
  color: #b3b3b3;
  line-height: 1.6;
}

.plan-terms a {
  color: #b3b3b3;
  text-decoration: underline;
}



.plan-namez{
  font-size: 30px;
  color: #A5BBD1;
  margin-bottom: 12px;
}
.plan-pricesss{
  margin-bottom: 12px;
}
.plan-card.family {
  /* grid-column: 1; */
  max-width: 460px;
  /* min-width: 300px; */
  margin: auto;
  width: 60%;
  object-fit: cover;
  border-radius: 10px;
  height: 60vh;
}
.plan-featuresx li{
  margin-bottom: 12px ;
  font-size: 15px;
   flex-grow: 1;
  margin-bottom: 24px;
}

.plan-featuresx li {
  list-style: none;
  margin-bottom: 12px;
  font-size: 14px;
  color: #fff;
  /* padding-left: 0; */
}

.plan-featuresx li:before {
  content: "• ";
  color: #fff;
  margin-right: 8px;
}

.plan-buttony{
   width: 100%;
  padding: 14px 24px;
  border: none;
  border-radius: 500px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 16px;
  background-color:#A5BBD1;
  margin-top: 16px;
}
.plan-termsa {
 font-size: 11px;
  color: #b3b3b3;
  /* line-height: 1.6; */
}

.plan-termsa a {
  color: #b3b3b3;
  text-decoration: underline;
}
.plan-buttony:hover{
  transform: scale(1.05);
  transition: all 0.2 ease-in-out;
}
.faq {
      max-width: 800px;
      margin: 3rem auto;
      padding: 0 1rem;
    }

    .faq h2 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .faq-item {
      border-bottom: 1px solid #ccc;
    }

    .faq-question {
      width: 100%;
      background: none;
      border: none;
      padding: 1rem 0;
      font-size: 1.1rem;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color:white;
      font-weight: bold;
      cursor: pointer;

    }

    .faq-question .text {
      transition: all 0.3s ease;
    }

    .faq-question:hover .text {
      text-decoration: underline;
    }

    .arrow {
      transition: transform 0.3s ease;
      font-size: 1rem;
    }

    .faq-answer {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      transition: max-height 0.4s ease, padding 0.3s ease;
    }

    .faq-item.active .faq-answer {
      max-height: 1000px;
      padding: 1rem 0;
    }

    .faq-item.active .arrow {
      transform: rotate(180deg);
    }
.company li a{
  text-decoration: none;
  color: #1;
}

@media (max-width: 1024px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-left,
  .hero-right {
    flex: 1 1 100%;
    padding: 20px;
  }

  .hero-right img {
    width: 100%;
    max-width: 500px;
  }

  .card2 {
    flex-direction: column;
    text-align: center;
    gap: 2em;
  }

  .plan-card {
    flex: 1 1 48%;
  }
}

@media (max-width: 768px) {
  .hero-left h1 {
    font-size: 1.8rem;
  }

  .hero-left p,
  .terms {
    font-size: 0.95rem;
  }

  .btn-primary,
  .btn-secondary {
    padding: 10px 16px;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .table {
    font-size: 14px;
  }

  .table thead th,
  .table tbody td {
    padding: 10px;
  }

  .plan-card {
    min-width: 100%;
  }

  .plan-price {
    font-size: 2.5em;
  }

  .faq h2 {
    font-size: 1.5rem;
  }

  .faq-question {
    font-size: 1rem;
  }
}


@media (max-width: 480px) {
  .hero-left h1 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .btn-primary,
  .btn-secondary {
    width: 100%;
    text-align: center;
    padding: 12px 0;
  }

  .plan-card {
    padding: 20px;
  }

  .plans-grid {
    flex-direction: column;
    gap: 30px;
  }

  .card2 h3 {
    font-size: 1.2rem;
  }

  .list li {
    font-size: 0.9rem;
  }

  .faq h2 {
    font-size: 1.4rem;
  }

  .faq-question {
    font-size: 0.95rem;
  }

  .plan-card.family {
    width: 100%;
    height: auto;
  }
}

footer {
  background-color: #000
  padding: 60px 0 20px 0;
  color: #fff;
}

.foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4em;
  margin-bottom: 30px;
}

.company h2 {
  color: #919496;
  font-size: 14px;
  margin-bottom: 15px;
}

.company li {
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}
.company li a{
  font-size: 17px;
    padding-bottom: 20px;
    color: #fff;
    text-decoration: none;
}

.company li a:hover{
     color: green;
    cursor: pointer;
}


.company li:hover {
  color: #1ED760;
}

.ade img {
  background-color: #222326;
  padding: 10px;
  border-radius: 40px;
  cursor: pointer;
}

.dark {
  text-align: center;
  color: #919496;
  margin-top: 30px;
}

.ter ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  color: #919496;
  margin-top: 20px;
}

.ter li:hover {
  color: #1ED760;
}

@media(max-width:769px){
  .fa-bars{
    display: block;
    color:#fff ;
  }
  .menu-list{
    display: none;
  }
  .all{
    justify-content: space-between;
    padding: 20px;
  }
}