* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    background-color: #121212;
}

.fa-bars{
  color: white;
  font-size: 28px;
  display: none;
}
.logo4{
  /* width: 350px; */
    color: white;
    display: flex;
    gap: 2em;
    align-items: center;
}
.all{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 2em;   
    background-color: black;
}
.all li a{
    color:#fff;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
}
.sign{
    display: flex;
    gap: 2em;
    align-items: center;
}
.btn{
    padding: 15px 35px;
    align-items: center;
    border-radius:38px;
    background-color:#0fb348 ;
}
.btn a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.btn:hover{
    color: #3BE477;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.fa-solid:hover{
    transform: scale(1.1);
    transition: all 0.3sec ease;
    font-weight: bold;
}
.all a:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.fa-solid{
    color: #fff;
    cursor: pointer;
    font-size:20px;
}
.dropdown{
    position: relative;
    list-style-type: none;
}
.dropdown-menu a{
    font-size: 10px;
    color: #fff;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  transition: all 0.3s ease;

}
.dropdown-menu li{
    margin-bottom: 10px;
    padding: 8px;
    /* position: relative; */
}
.dropdown-menu li a:hover{
    color: #0fb348;
}
.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu{
    display: none;
    border: 2px solid white;
    align-items: center;
    background-color: #1b1919;
    position: absolute;
    z-index: 2;
    width: 260px;
    padding: 8px;
}
.fa-chevron-right{
    font-size: 12px;
}

.fa-chevron-right:hover{
    color: #0fb348;
}





.hero{
    background-color:#121212;
}
.first{
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 50%;
    max-width: 800px;
    /* border-bottom: thin solid #222326; */
    font-size: 13px;
    background-color: #1F1F1F;
    color: #fff;
    /* padding: 10px 5px; */
    /* margin-top: 10px; */
    height: 30vh;
    border-bottom: 3px solid #222326;
    border-radius: 8px;
}
.first:hover{
    background-color: #2A2A2A;
}

.titlee{
    font-size: 28px;
    font-weight: bold;
}
.descc{
    font-size: 14px;
    color: #979696;
}
.firstt p{
    margin:  auto;
    align-items: center;
    width: 300px;
    /* background-color: #222326; */
    justify-content: center;
    color: #fff ;
    border-top: 2px solid #222326;
}

.titel{
    color: #d8d3d3;
}


.search{
    margin:20px auto;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 50%;
    max-width: 800px;
    color: #fff;
}
.search h2{
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size:32px;
}
.seach-container{
    position: relative;
    width: 350px;
    margin: 20px auto;
}
.search-container input{
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    height: 6vh;
}
.search-container i{
    position: absolute;
    /* left:15px; */
    /* top:50px; */
    color:#777272;
    font-size: 20px;
}

.content2{
    background-color: #2A2A2A;
}
.descript{
    background-color: #222326;
}


.faq {
      max-width: 800px;
      margin: 3rem auto;
      padding: 0 1rem;
    }

    .faq h2 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .faq-item {
      border-bottom: 1px solid #ccc;
    }

    .faq-question {
      width: 100%;
      background: none;
      border: none;
      padding: 1rem 0;
      font-size: 1.1rem;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color:white;
      font-weight: bold;
      cursor: pointer;

    }

    .faq-question .text {
      transition: all 0.3s ease;
    }

    .faq-question:hover .text {
      text-decoration: underline;
    }

    .arrow {
      transition: transform 0.3s ease;
      font-size: 1rem;
    }

    .faq-answer {
      max-height: 0;
      overflow: hidden;
      color: #fff;
      padding: 0;
      transition: max-height 0.4s ease, padding 0.3s ease;
    }

    .faq-item.active .faq-answer {
      max-height: 1000px;
      padding: 1rem 0;
    }

    .faq-item.active .arrow {
      transform: rotate(180deg);
    }


    .community-section {
  text-align: center;
  padding: 80px 20px;
  background-color: #181818;
  /* border: 2px solid white; */
  margin-bottom: 20px;
  
}

.community-section h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #fff;
}

.community-section p {
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 25px;
}

.btn {
  background-color: #1db954;
  color: white;
  padding: 12px 28px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}
/* =====footer=-== */
footer {
    background-color: black;
    height: 30vh;
}



.foot {
    background-color: black;
    color: white;
    position: relative;
    bottom: 90px;
    text-align: center;
    justify-content: center;
    display: flex;
    height: 30vh;
    gap: 4em;
    padding-top: 80px;
}

.company h2 {
    color: #919496;
    font-size: 14px;
    padding-bottom: 20px;
}

.company li {
    font-size: 17px;
    padding-bottom: 20px;
}
.company li a{
    font-size: 17px;
    padding-bottom: 20px;
    color: #919496;
    text-decoration: none;
}

.company li a:hover{
     color: green;
    cursor: pointer;
}

.company li:hover {
    color: green;
    cursor: pointer;
}

.ade {
    gap: 4em;
}

.ade img {
    border: 2px solid #222326;
    background-color: #222326;
    padding: 10px;
    border-radius: 40px;
    position: relative;
    left: 10px;
    bottom: 20px;
    cursor: pointer;
}

.kk {
    width: 50px;
}

.dark {
    background-color: black;
    height: 30%;
    color: white;
}

.dark h2,
.dark2 h2 {
    color: #919496;
    font-size: 12px;
    position: relative;
    text-align: right;
    right: 300px;
    padding-bottom: 20px;
}

.ter {
    background-color: black;
    color: #919496;
    text-align: center;
    justify-content: center;
}

.ter ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    position: relative;
    right: 200px;
    bottom: 50px;
    font-size: 14px;
}

.ter li:hover {
    color: green;
    cursor: pointer;
}

